CapstoneWebpage/db.sqlite3
CapstoneWebpage/geckodriver.log
CapstoneWebpage/venv
CapstoneWebpage/**/__pycache__
CapstoneWebpage/*.pyc
CapstoneWebpage/static
CapstoneServices/UserService/credentials.txt
