{% extends 'base.html' %}

{% load custom_tags %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
{% if logged_in %}

{% if "admin" in roles %}
    <div>
        <a href="users" class="form-control btn btn-ptc rounded-0"><b>Admin Panel</b></a>
    </div>
{% endif %}

<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'pfp.png' %}" class="img-fluid rounded-circle"/>
                        {% for role in roles %}
                            <small class="text-nowrap rounded px-1 bg-ptc text-ptc text-sm">{{role|tag}}</small>
                        {% endfor %}
                        <a href="edit" class="form-control btn btn-sm btn-ptc">Edit</a>
                        <a href="logout" class="form-control btn btn-sm btn-ptc">Logout</a>
                    </div>
                    
                    <div class="col-6">
                        <br>
                        <p class="text-muted m-0">Email</p>
                        <h6 class="text-ptc m-0">{{email}}</h6>
                        <br>
                        <p class="text-muted m-0">First Name</p>
                        <h6 class="text-ptc m-0">{{fName}}</h6>
                        <br>
                        <p class="text-muted m-0">Last Name</p>
                        <h6 class="text-ptc">{{lName}}</h6>
                    </div>
                </div>
            </div>
            <br>
            <br>
                <a href="request" class="form-control btn btn-lg btn-ptc"><b>NEED A RIDE?</b></a>
            <br>
            <br>
        </div>
    </div>
</div>
<br>
<img src="{% static 'right.svg' %}" class="img-fluid"/>
<br>
<br>

{% else %}

<br>
<img src="{% static 'left.svg' %}" class="img-fluid"/>
<br> <br>

<div class="container">
    <div class="row justify-content-center">
        <img src="{% static 'ptc.svg' %}" style="min-width: 75px; width: 20vw;"/>
    </div>
    <div class="row justify-content-center">
        <img src="{% static 'logo.svg' %}" style="min-width: 75px; width: 20vw;" />
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <p class="text-center text-ptc">RideShare is a resource for PTC students to find or provide rides for their friends and classmates to and from the school.</p>
            <div><a href="/register" class="btn btn-ptc form-control"><b>Sign Up</b></a></div>
            <br>
            <div><a href="/login" class="btn btn-ptc form-control"><b>Login</b></a></div>
        </div>
    </div>
</div>

<br> <br>
<img src="{% static 'right.svg' %}" class="img-fluid"/>
<br>

{% endif %}
{% endblock %}