{% extends 'base.html' %}

{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<br>
<div class="justify-content-center">
    <img src="{% static 'left.svg' %}" class="img-fluid"/>
</div>
<br> <br>



<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <img src="{% static 'ptc.svg' %}" style="min-width: 75px; width: 20vw;"/>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <img src="{% static 'logo.svg' %}" style="min-width: 75px; width: 20vw;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class="text-center text-ptc">LOGIN</h1>
        </div>
    </div>
</div>

<form method="post" id="form">
    {% csrf_token %}
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="text" name="password" id="password"/>
    </div>
    <div class="form-group">
        <button onclick="onClick()" id="submit">Submit</button>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    const form = document.getElementById("form")
    const password = document.getElementById("password")
    const hash = (str) => {
        return str.length === 0 ? "" 
            : CryptoJS.SHA256(str).toString(CryptoJS.enc.Hex)
    }
    const onClick = () => {
        password.value = hash(password.value); form.submit();
    }
</script>
<br> <br>
<div class="justify-content-center">
    <img src="{% static 'right.svg' %}" class="img-fluid"/>
</div>
{% endblock %}