{% extends 'base.html' %}

{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<br>
<img src="{% static 'left.svg' %}" class="img-fluid"/>
<br> <br>

<div class="container p-0">
    <div class="row justify-content-center">
        <img src="{% static 'ptc.svg' %}" style="min-width: 75px; width: 20vw;"/>
    </div>
    <div class="row justify-content-center">
        <img src="{% static 'logo.svg' %}" style="min-width: 75px; width: 20vw;" />
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class="text-center text-ptc">LOGIN</h1>
            <form method="post" id="form">
                {% csrf_token %}
                <input type="hidden" name="type" value="login">
                <div class="form-group">
                    <label class="text-ptc" for="email">Email</label>
                    <input class="form-control form-control-sm" type="text" name="email" id="email"/>
                </div>
                <div class="form-group">
                    <label class="text-ptc" for="password">Password</label>
                    <input class="form-control form-control-sm" type="text" name="password" id="password"/>
                </div>
                <br>
                <div class="form-group">
                    <button class="btn btn-lg btn-ptc form-control" onclick="onClick()" id="submit"><b>SUBMIT</b></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    const form = document.getElementById("form")
    const password = document.getElementById("password")
    const hash = (str) => { return str.length === 0 ? "" : CryptoJS.SHA256(str).toString(CryptoJS.enc.Hex) }
    const onClick = () => { password.value = hash(password.value); form.submit() }
</script>

<br> <br>
<img src="{% static 'right.svg' %}" class="img-fluid"/>
<br>
{% endblock %}